.bb-statistik {
  border-bottom: 1px solid rgb(199, 199, 199);
}
.br-statistik {
  border-right: 1px solid rgb(199, 199, 199);
}
.statistik_user {
  .statistik_card {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }

  .flex_icons {
    background-color: white;

    flex-wrap: wrap;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 19px 20px;
    h5 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
    small {
      font-size: 13px;
      color: rgb(184, 184, 184);
    }

    i.bx {
      font-size: 30px;
    }
  }
}

// Rting acivement
.ratings,
.Achievements {
  .ratings_title {
    h5 {
      font-size: 20px;
      font-weight: bold;
    }
    p {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

.ratings,
.Achievements {
  overflow: hidden;

  border-radius: 7px;
  i.bx {
    font-size: 34px;
  }
}

.grid-akalin {
  visibility: hidden;
}
