// Root Variabels color
$blueMuda: #4489fe;
$hijauMuda: #32ee80;
$merahMuda: #fb7c87;

$biruTua: #4688ff;
$hijauTua: #11c15c;
$merahTua: #ff5353;

// WARNA ICON STATUS DASHBOARD
.bx-user {
  color: $biruTua;
}
.bx-volume-full {
  color: $hijauTua;
}
.bx-file {
  color: $merahTua;
}
.bx-envelope-open {
  color: $biruTua;
}
.bx-share-alt {
  color: $biruTua;
}
.bx-equalizer {
  color: $merahTua;
}
.bx-wifi {
  color: $biruTua;
}
.bx-station {
  color: $hijauTua;
}

.bg-rating-star {
  background-color: $hijauTua;
}
.bg-rating-achivement {
  background-color: $blueMuda;
}
