@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: white;
  color: #26508f;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}

.dark_mode {
  background-color: #26508f;
  color: white;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.navbar {
  background-color: #4489fe;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: navbar;
}

.sidebar_left {
  padding-top: 3px;
  background-color: #4489fe !important;
}

.sidebar_left a {
  color: white !important;
}

.profile-circle-right {
  background: url("../assets/image/profile-bg.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: sans-serif;
  border-bottom: 1px solid black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  min-height: 101px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.profile-circle-right img {
  border-radius: 50%;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
}

.profile-circle-right .content-profile {
  margin-top: 20px;
}

svg {
  cursor: pointer;
}

.RootDashboard {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "sidebar navbar navbar navbar navbar " "sidebar main main main main " "sidebar main main main main ";
  position: relative;
}

.DashboardNav {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  display: block;
  width: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.DashboardNav .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OpenSlide {
  width: 0px;
  border-right: 1px solid black;
}

.OpenSlide .profile-circle-right,
.OpenSlide ul {
  display: none;
}

.DashboardMain {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: main;
  position: relative;
}

.DashboardMain header {
  background-image: url("../assets/image/jumbotron.jpeg");
  width: 100%;
  max-height: 200px;
  min-height: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user_right .user_title {
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  color: white;
}

.notification {
  position: relative;
}

.notification .notif_count {
  position: absolute;
  left: 44%;
  top: 2%;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.dropdown_user_right .dropdown-menu {
  margin-top: 10px;
  margin-left: -310%;
}

.dropdown_user_right .dropdown-menu .dropdown-item {
  padding: 10px 20px;
}

.dropdown_user_right .dropdown-menu .dropdown-item .set_right {
  margin-left: 5px;
}

.dropdown_user_right .dropdown-toggle::after {
  display: none;
}

@media (max-width: 992px) {
  .RootDashboard {
    display: -ms-grid;
    display: grid;
        grid-template-areas: main;
  }
  .DashboardMain {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: main;
    z-index: -1;
  }
  .DashboardNav {
    -webkit-transform: scale(0);
            transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    background-color: white;
    -webkit-transition: all 0.32s ease-in-out;
    transition: all 0.32s ease-in-out;
  }
  .OpenSlide {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
    -webkit-transition: 0.34s all ease-in-out;
    transition: 0.34s all ease-in-out;
  }
  .OpenSlide .profile-circle-right,
  .OpenSlide ul {
    display: block;
  }
  .iconsBar {
    z-index: 999 !important;
  }
  .profile-circle-right {
    text-align: center;
  }
  .profile-circle-right img {
    margin-top: 10px;
    width: 20%;
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (max-width: 510px) {
  .user_title {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */