@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
@import "__Variabel.scss";
@import "./_navbar";
@import "./_animasi";
@import "./_status-user";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: white;
  color: rgba(38, 80, 143, 1);
  transition: 0.55s ease-in-out;
  position: relative;
}

// Sidebar Left
.sidebar_left {
  padding-top: 3px;
  background-color: $blueMuda !important;
  a {
    color: white !important ;
  }
}

// Content kanan profile
.profile-circle-right {
  background: url("../assets/image/profile-bg.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: sans-serif;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  max-height: 200px;
  min-height: 101px;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
  img {
    border-radius: 50%;
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .content-profile {
    margin-top: 20px;
  }
}

svg {
  cursor: pointer;
}

.RootDashboard {
  display: grid;
  grid-template-areas:
    "sidebar navbar navbar navbar navbar "
    "sidebar main main main main "
    "sidebar main main main main ";
  position: relative;
}

.DashboardNav {
  grid-area: sidebar;
  display: block;
  width: 300px;
  transition: 0.5s;

  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.OpenSlide {
  width: 0px;
  border-right: 1px solid black;

  .profile-circle-right,
  ul {
    display: none;
  }
}

.DashboardMain {
  grid-area: main;
  position: relative;
  background-color: #eff5f6;
  header {
    background-image: url("../assets/image/jumbotron.jpeg");
    width: 100%;
    max-height: 200px;
    min-height: 102px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    flex-wrap: wrap;
  }
}
// Profile user and title
.user_right {
  .user_title {
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    color: white;
  }
}
// =Notification
.notification {
  position: relative;
  .notif_count {
    position: absolute;
    left: 44%;
    top: 2%;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
  }
}
// dropdow right atau pengaturan di kanan
.dropdown_user_right {
  .dropdown-menu {
    margin-top: 10px;
    margin-left: -310%;
    .dropdown-item {
      padding: 10px 20px;

      .set_right {
        margin-left: 5px;
      }
    }
  }

  .dropdown-toggle {
    &::after {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .RootDashboard {
    display: grid;
    grid-template-areas: main;
  }
  .DashboardMain {
    grid-area: main;
    z-index: -1;
  }
  .DashboardNav {
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    background-color: white;
    transition: all 0.32s ease-in-out;
  }
  .OpenSlide {
    transform: scale(1) !important;
    transition: 0.34s all ease-in-out;
    .profile-circle-right,
    ul {
      display: block;
    }
  }

  .iconsBar {
    z-index: 999 !important;
  }
  .profile-circle-right {
    text-align: center;
    img {
      margin-top: 10px;
      width: 20%;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
// media profile mobile
@media (max-width: 510px) {
  .user_title {
    display: none;
  }
}
